.purple-purse-regular {
  font-family: "Purple Purse", serif;
  font-weight: 400;
  font-style: normal;
}
.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.login-card{
    max-width: 450px;
    background-color: #EEEEEE;
    border: 2px solid #134B70;
}
.btn-secondary{
    background-color: #508C9B !important;
    border: 1px solid #508C9B !important;
    color:white !important
}
.btn-secondary:hover{
    background-color: #134B70 !important;
    border: 1px solid #134B70 !important;
    color:white !important
}
.regis-h{
    color: #86DF65;
}
.color-red{
   color: red;
}
.page-title {
    font-size: 36px;
    color: #201E43;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 20px;
    color:#201E43;
}

.mycontainer {
    max-width: 1200px; /* Adjust based on your design preference */
    margin: 30px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-card {
    padding: 20px;
    background-color: rgba(254, 244, 234, 0.8);
    border: 2px solid rgba(237, 152, 62, 0.8);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chart-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.chart-card .card-title {
    color: rgba(202, 116, 24, 1);
    font-size: 20px;
}

.card-body {
    padding: 15px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
.chat-container {
    background-color: #ffffff;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    transition: box-shadow 0.3s ease;
}

.chat-container:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.chat-title {
    text-align: center;
    color: #201E43;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 8px;
}

.chat-description {
    text-align: center;
    color: #6d6d6d;
    font-size: 16px;
    margin-bottom: 20px;
}
.chat-box {
    background-color: #EEEEEE;
    border: 1px solid #508C9B;
    padding: 10px;
    height: 350px;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-message {
    max-width: 80%;
    margin: 5px 10px;
    padding: 8px 12px;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
}

.bot-message {
    background-color: #134B70;
    align-self: flex-start;
}

.user-message {
    background-color: #4197EE;
    align-self: flex-end;
    text-align: right;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

.chat-input input {
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

.chat-input button {
    background-color: #4197EE;
    border: none;
    color: white;
    padding: 8px 12px;
    margin-left: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button i {
    pointer-events: none;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #134B70;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #134B70;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #201E43;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #201E43;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #134B70;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  background: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 45px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #363636;
  font-family: "Lato", sans-serif;;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Lato", sans-serif;;
  font-size: 16px;
  font-weight: 700;
  color: #363636;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #134B70;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #134B70;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: rgba(243, 149, 50 ,1);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #134B70;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .megamenu {
  position: static;
}

.navbar .megamenu ul {
  margin-top: 5px;
  right: 0;
  padding: 10px;
  display: flex;
}

.navbar .megamenu ul li {
  flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
  color: #F9AD72;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
  color: #134B70;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #201E43;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #201E43;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #134B70;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #134B70;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
.navbar-mobile .getstarted {
  display: block;
  width: calc(100% - 30px);
  margin: 15px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #201E43;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.navbar-mobile .getstarted:hover {
  background-color: #201E43;
  color: #fff;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ensures any overflow is hidden */
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/herobg.jpg) top center no-repeat;
  background-size: cover;
  filter: grayscale(50%); /* Example filter */
  z-index: -1; /* Ensures the pseudo-element stays behind the content */
}

.hero h1 {
  margin: 0;
  margin-top: 85px;
  font-size: 38px;
  font-weight: 700;
  color: #363636;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 24px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #134B70;
  box-shadow: 0px 5px 30px rgba(158, 30, 30, 0.2);
}

.hero .btn-get-started span {
  font-family: "Lato", sans-serif;;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
      margin-top: 62px;
  text-align: right;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
#piechart{
    width: 50% !important;
}
#piechart2{
    width: 50% !important;
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 75%;
  }
}
.myh1:hover{
color:#134B70;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}
.about-img{
  border-radius: 15px;
  width: 120%;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #134B70;
  text-transform: uppercase;
}
.hero-img{
  width:93%;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #201E43;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #134B70;
  box-shadow: 0px 5px 30px rgba(158, 30, 30, 0.2);
}
.about .btn-read-more:hover {
background: rgba(243, 149, 50 ,1);
}
.about .btn-read-more span {
  font-family: "Lato", sans-serif;;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);

}




.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #201E43;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}



.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #201E43;
}
.copyright {
  text-align: center;
  padding-top: 30px;
  color: #201E43;
}
.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #201E43;
}

.mt-6{
    margin-top: 140px;
}
.chatbot-con{
    width: 70%;
    height: 590px;
    background-color: rgba(243, 243, 243,0.5);
}

.about-title{
    color: white !important;
    background-color: #134B70;
    padding: 10px 20px;
    text-align:center;
    border-radius: 15px;
    font-size:14px !important;
}
.about-box{
    padding: 10px 20px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    transition: 0.3s
}
.about-box:hover{
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.about-box img{
    transition: 0.6s
}
.about-box:hover img{
    transform: scale(0.9);
}
.about-box p{
    font-size:14px;
}ã…Ž
.myemail{
    font-size:22px !important;
    color: #134B70 !important;
}